In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
from datetime import datetime

In [4]:
my_year = 2017
my_month = 1
my_day = 2
my_hour = 13
my_minute = 30
my_second = 15

In [5]:
my_date = datetime(my_year,my_month,my_day)

In [6]:
my_date

datetime.datetime(2017, 1, 2, 0, 0)

In [7]:
my_date_time = datetime(my_year,my_month,my_day,my_hour,my_minute,my_second)

In [8]:
my_date_time

datetime.datetime(2017, 1, 2, 13, 30, 15)

In [9]:
type(my_date_time)

datetime.datetime

In [10]:
my_date_time.day

2

In [11]:
my_date_time.month

1

In [12]:
first_two = [datetime(2016,1,1),datetime(2016,1,2)]

In [13]:
first_two

[datetime.datetime(2016, 1, 1, 0, 0), datetime.datetime(2016, 1, 2, 0, 0)]

In [14]:
type(first_two)

list

In [15]:
first_two

[datetime.datetime(2016, 1, 1, 0, 0), datetime.datetime(2016, 1, 2, 0, 0)]

In [16]:
dt_ind = pd.DatetimeIndex(first_two)

In [17]:
dt_ind

DatetimeIndex(['2016-01-01', '2016-01-02'], dtype='datetime64[ns]', freq=None)

In [18]:
data = np.random.randn(2,2)

In [19]:
data

array([[-0.75510241, -0.08450319],
       [ 0.21194531,  1.33060431]])

In [20]:
cols = ['a','b']

In [21]:
df = pd.DataFrame(data,dt_ind,cols)

In [22]:
df

                   a         b
2016-01-01 -0.755102 -0.084503
2016-01-02  0.211945  1.330604

In [24]:
df.index.argmax()

1

In [25]:
df.index.max()

Timestamp('2016-01-02 00:00:00')

In [26]:
df.index.argmin()

0

In [27]:
df.index.min()

Timestamp('2016-01-01 00:00:00')